.pokemon-card {
    background-color: #ECEBED;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #5b5b5b;

    .info-card {
        text-decoration: none;

        .poke-numero,h5 {
            display: inline-block !important;
            font-weight: 600 !important;
        }

        .poke-numero {
            color: #333333;
            font-size: 13px;
        }

        h5 {
            color: #000000;
            margin-bottom: 15px;
            font-size: 17px;
        }
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: start;


        #tipo-container {
            display: flex;
            flex-direction: row;
        }
    }



    .pokemon-img {
        width: 40%;
        border-radius: 15px;


        .pokemon-tipo-vetor {

            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;




            .sprite {
                width: 100%;
                height: 100%;
                margin-top: -30px;
                scale: 1;

                    
            }
        }
    }
}