$azulEscuro: #173EA5;
$azulMenosEscuro: #4565B7;






:root {

    background-color: rgb(255, 255, 255);
  
    
  
  }
  
  * {
    margin: 0;
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
    color: #666666;
  }
  
  html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
  }

  body {
    background-image: url("/src/assets/images/background3.jpg");
    background-size: cover;
  }
  